language: ruby

services:
  - docker

env:
  global:
    - secure: kJbji+QlSJEa9M8MfvnL/Hliqsj4MhaPdSCOT3QTlNDK5YAPMJn3nXNg1eLa0Plr/mX1PmxF41vGr6FF3r9L9qNgbUyMh6EXRAhwkukn6jVn49tZ8bevm4BWBI4L3kUboSz2bQ6LjltTruoWHReCe/W1m9J4aNwpVoUDmLGkTrihe+N6NH1Gae8PJKRAayZQtGTzDhbt+9L85ADEQ9kg4Keqo5wcNHvelcFo0wymBlM+E4RgyOt+TiECi15sg31JrlWZ1HUacHlTx4n8jzVvClxxnvvdpR9gaWscFJiBowNlXL3NjFvLbknYyDoDpsaUwX2xtzm/ssFpZXL3DWkSRr18dhTEYRLRyub6oyCaKs+alCJQ2rqB+fRR74+NeWIDEYHjaIs0tcNyh9L4FraFLRK4qMrSAIWANJpW7tt+vWCZNKyW7q67GAsVo2TevX/zJp0Dxx/jkGzMU35I3ROzLzztfc9vP1hgWXvfNGjFil52QTYKs1uGhBlMFDe9Cr/efZCCAn9LMz04H9Uk8vjAGBN9UkJ7L4bj28QjqYb1x+CxbP8WMXm20qQOisQ6yJ2yZizH0h056i36UBtOVMSndhz9LM3TVVBGohdtMui+ATTwp1S1GIApTKYsfsDOgmcz+VkPgnJGwt1d9Li6y6BP/MnrUyjSVN+KB0z0MP/p9Ns=
    - secure: VvgwfV6fMEIPkSzlRSAa95vYvjaZzSa5+nlu850BoeLpTnQdEusszznmQvn8OAjM9IiNgKlzVq22xtvrrDWFS9LKpO+qKEStMdFd1oet+yVuAKYOTkDPuWDkIejrFNCZC3tYa4H2ZF1GBjGLusPkLbt8v+p3bZes6j53H7aC9t95Bxm/Z1QM/o1xuMIifCDrSpEpHMeX8BRBEpIIhtWmRbT1u8SVFExycioKRnQTkiu0rXj5All6G4hm7aB1pgkJ/P1RdtV5mLVYo8MtQxTeqBhxbMe87Iks6hCZ5R/Pel3x/HUSmBsbucrjY59ec/X2lhZLHz52/EmDu8lWWjAp+F9Ur2jOM83/uAjrSx34QVcgM6xZNvOjg4CjasemnhtZY3DNpxl950vZ+edYAnJdk7LAEqanmkgIT68GR9d9nCADz0/LVT7x9q958GxxYSTZ1fKH71M31s9GkOAH1QPV9lu9FRZeuARwqIiZRHx/GJ02+q/orhlh2Vtn71DvBRo8xzR3KVGNRiu2xiajNfvCTNs+8Zfv5mXxRXxlfDJVsYIzrg39mTLZHrzWPGrxl+MzA4YergcAef0YXx3tCX2H8ubFGq0OCtQNnYqJY+OUsoIn9/7XkciVVdT2BAmA5ldRUz2RPS0bmbi1oaNXNNDGY5ZKhuxhljJ5tOUAaY7YRUw=

  matrix:
    - TAG=8.0-fpm-v2
    - TAG=8.0-fpm-v1
    - TAG=7.4-fpm-v3.1
    - TAG=7.4-fpm-v3
    - TAG=7.4-fpm-v2
    - TAG=7.4-fpm-v1
    - TAG=7.4-fpm-composer-v2
    - TAG=7.4-fpm-composer-v1
    - TAG=7.3.7-fpm-v1
    - TAG=7.3.6-fpm-v3
    - TAG=7.3.6-fpm-v2
    - TAG=7.3.6-fpm-v1
    - TAG=7.3-fpm-v1
    - TAG=7.2-fpm
    - TAG=7
    - TAG=7.4-rc-fpm-v1
    - TAG=rc-fpm-v1
    - TAG=rc-fpm-v1.1

jobs:
  allow_failures:
    - env: TAG=7.4-rc-fpm-v1
    - env: TAG=rc-fpm-v1
    - env: TAG=rc-fpm-v1.1

before_script:
  - echo "$DOCKER_PASSWORD" | docker login docker.io --username "$DOCKER_USERNAME" --password-stdin

script:
  - docker build -t stephenneal/php-laravel:"${TAG}" ./"${TAG}"/
  - docker push stephenneal/php-laravel:"${TAG}"

after_script:
  - docker images

deploy:
  provider: script
  script: sh push.sh "${TAG}"
  on:
    tags: true
